<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<title>mypage</title>
	<script src="https://kit.fontawesome.com/665f18a48e.js" crossorigin="anonymous"></script>

	<link th:href="@{css/mypage.css}" rel="stylesheet"></link>
</head>
<body layout:fragment="content">
<div class= "mypageWrapper">
	<div sec:authorize="isAuthenticated()">
		<p class="pageTitle"><span sec:authentication="name"></span>様のマイページ</p>
　　 </div>
    <div class="mypageTool col-sm-4 offset-sm-4">
    	<form class="favoritePage" th:action="@{/mypage/favorite}" th:method="get">
			<button class="favorite-btn btn-warning col-sm-12 text-nowrap" type="submit" style="color:white"><i class="fas fa-heart"></i> お気に入り</button>
		</form>
    	<br />
		<form class="updatePage" th:action="@{/mypage/updateUser}" th:method="get">
			<button class="update-btn btn-success col-sm-12 text-nowrap" type="submit"><i class="fas fa-user-edit"></i> 登録情報更新</button>

		</form>
        <br />
        <form class="deletePage" th:action="@{/mypage/deleteUser}" th:method="get">
			<button class="delete-btn btn-danger col-sm-12 text-nowrap" type="submit"><i class="fas fa-user-slash"></i> 退会</button>
		</form>
    </div>
</div>
</body>
</html>