@charset "UTF-8";

html {
	height: 100%;
}

body {
	height: 100%;
}

.aboutPageWrapper{
	height: 100vh;
}

p.title{
 	font-size: 10vh;
 	color: white;
}

p.outline{
	font-size: 7vh;
}

p.description{
	font-size: 4vh;
}